@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    min-width: 1200px;
}
/* a 공통 css */
a{
    color: black;
    text-decoration: none;
}
/* ul 공통 css */
ul{
    list-style: none;
}
/* inner 클래스 (푸터/헤더) */
.inner{
    width: 1200px;
    margin: 30px auto;
}
/* -------------------------------------------------------------------------- */
/* 헤더 */
header{
    border-bottom: 2px solid black;
}
/* 헤더 상단 */
.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
/* 헤더 상단의 왼쪽 */
.header_top_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 크몽 로고 */
.kmong_logo1{
    width: 170px;
}
/* 검색창 영역 */
.searchBox{
    border: 1px solid gray;
    padding: 10px 25px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 380px;
}
/* 검색창영역 전체 호버 */
.searchBox:hover{
    border: 2px solid green;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2); 
}
/* 검색창 */
.search{
    border: none;
}
.search:focus{
    outline: none;
}
.search::placeholder{
    font-size: 14px;
    color: gray;
}
/* 검색창에서 우측부분 */
.searchBox_right{
    display: flex;
    justify-content: right;
    gap:10px;
}

/* 헤더 상단의 우측부분 */
.user_nav{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
}
.user_nav li{
    display: flex;
    align-items: center;
}
/* 회원가입 css */
.join_membership{
    color: white;
    background-color: black;
    padding: 5px 15px;
    border-radius: 20px;
}

/* 기업용 biz */
.badge_biz{
    background-color: rgb(160, 202, 244);
    padding:3px 8px;
    border-radius: 20px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: center;
}

/* 헤더 하단 */
.header_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 헤더 하단에서 왼쪽(카테고리) */
.nav_list{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 업종별/전체 이미지 */
.industry img,
.all img{
    width: 25px;
    margin-right: 5px;
}
.nav_list li{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 헤더 바텀의 오른쪽 (부가서비스) */
.nav_etc{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
}

/* 자바스크립트 마우스 효과 css */
.user_nav li a{
    display: inline-block;
    border-bottom: 3px solid transparent;
}
.user_nav li a.active{
    border-bottom-color: black;
}
.nav_list li a{
    display: inline-block;
    border-bottom: 3px solid transparent;
}
.nav_list li a.active{
    border-bottom-color: black;
}
.nav_etc li a{
    display: inline-block;
    border-bottom: 3px solid transparent;
}
.nav_etc li a.active{
    border-bottom-color: black;
}

/* -------------------------------------------------------------------------- */
/* 섹션 */
section{
    width: 1200px;
    margin: 70px auto;
}

/* 행전체 css */
.recommend_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
/* 행 1열 css */
.row_title{
    width: 240px;
}
/* 하이라이트 색깔 css */
.highlight1{
    background-color: rgb(205, 205, 255);
}
.highlight2{
    background-color: rgb(229, 255, 210);
}
.highlight3{
    background-color: rgb(255, 239, 205);
    
}

/* 카드 4개 묶인 css */
.card_list{
    display: flex;
    justify-content: space-between;
    width: 960px;
}

/* 카드 css */
.card_item{
    width: 220px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}

/* 카드 이미지 */
.thumb_img img{
    width: 220px;
}

/* 좋아요 배지 */
.thumb_img{
    position: relative;
}
.thumb_img span.badge_like{
    position: absolute;
    right: 10px;
    top: 10px;
    color: transparent;
}
/* 이미지에 호버 햇을때, 배지 보이게 하기 */
.thumb_img:hover span.badge_like{
    color: black;
    border: 1px solid black;
    border-radius: 50%;
}

/* 카드 배지 */
.badge_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    background-color: rgb(227, 227, 227);
    padding: 10px 20px;
    border-radius: 15px;
}
/* 카드배지 호버 */
.badge_card:hover{
    background-color: gray;
    color:white;
}
/* 플러스 배지 */
.badge_plus{
    font-weight: bold;

}
/* prime 배지 */
.badge_prime{
    color: white;
    background-color: black;
    padding: 3px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    /* vertical-align: middle; */
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
}

/* 별점 및 리뷰 */
.ratingBox{
    display: flex;
    justify-content: left;
    gap: 15px;
}
.star_point:before{
    content: '★';
    color: green;
}
/* 리뷰 css */
.review_cnt{
    color: gray;
}
.review_cnt:before{
    content: '(';
}
.review_cnt:after{
    content: ')';
}

/* 가격 css */
.price{
    width: 220px;
    font-weight: bold;
    font-size: 18px;
}

/* 판매자 css */
.seller_info{
    display: flex;
    justify-content: left;
    gap: 15px;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/* 푸터 */
footer{
    border-top: 2px solid black;
}
/* 푸터 상단 */
.footer_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* 푸터 상단의 왼쪽 */
.footer_top_left{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:30px;
    width: 800px;
}
/* 보안 관련 css */
.cert_item1,
.cert_item2{
    display: flex;
    justify-content: left;
    align-items: center;
    /* gap: 30px; */
}
/* 보안 이미지 css */
.cert_item1 img{
    width: 40px;
}
.cert_item2 img{
    width: 150px;
}
/* 보안 글자들 */
.cert_item1 p,
.cert_item2 p{
    font-size: 12px;
    color: gray;
}

/* 푸터 상단 오른쪽 (앱/sns) */
.footer_top_right{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
}
/* 앱 및 sns 이미지 크기 */
.app_item1 img,
.app_item2 img{
    width:25px;
}
.sns a img{
    width: 30px;
}
/* 앱 css */
.app_item1,
.app_item2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    padding: 3px 10px;
    border-radius: 20px;
}
div.app{
    display: flex;
    justify-content: right;
    gap: 20px;
}

/* 푸터 하단 p css */
.footer_bottom p{
    color: gray;
    font-size: 12px;
}
.bold{
    color: black;
    font-style: italic;
    font-weight: bold;
}