@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-family: 14px;
    padding: 20px;
    
}
.group{
    width: 700px;
}
.item{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

img{
    border-radius: 10px;

}

/* 이미지 클래스 CSS */
.images{
    overflow: hidden;
    position: relative;
}

.item2 .center,
.item4 .center{
    width: 120px;
    height: 120px;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    /* line-height: 50%; */
    /* z-index: 100; */
}

.sold_out{
    font-size: 15px;
    display: block;
    float: left;
    margin: 0 auto;
    color: white;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

/* title CSS */
.title{
    text-align: center;
    margin-top: 10px;
}

