@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 13px;
    padding: 30px;
    
}
/* profile_header 전체 CSS */
.profile_header{
    border: 1px solid black;
    padding: 30px;
    width: 460px;
    overflow: hidden;
}
/* img 영역 CSS */
.profile_img {
    height: 150px;
    width: 150px;
    border: none;
    background-color: rgb(224, 223, 223);
    border-radius: 50%;
    float: left;
    /* margin: 0 auto; */
    cursor: pointer;
}
/* JH 글자 오는부분 */
.profile_img span{
    display: block;
    height: 150px;
    color:  rgb(136, 135, 135);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 145px;
}
/* info 영역 CSS */
.profile_info{
    width: 200px;
    float: left;
    margin-left: 40px;
}
/* 첫번째 줄 CSS */
.first_line,
.second_line,
.third_line{
    width: 200px;
}
.first_line h2{
    display: inline-block;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
/* 버튼 CSS */
.first_line button{
    background-color: #0095F6;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 6px;
    width: 70px;
    margin-left: 20px;
    cursor: pointer;
}
/* ul 기호 없애기 + li CSS */
ul{
    list-style: none;
}
li{
    /* 인라인 블록으로 해서, 한줄로 표현 */
    display: inline-block;
    margin-right: 27px;
    cursor: pointer;
}
.first_line,
.second_line{
    margin-bottom: 20px;
    color: rgb(87, 87, 87);
}
.third_line{
    color: rgb(87, 87, 87);
}
.number{
    font-weight: bold;
    color: black;
}
/* 호버 */
.first_line button:hover{
    background-color: #0268ac;
}
